@model FuelBase.Models.Transport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoNowTon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoNowTon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoCapacityTon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoCapacityTon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelNowLitre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelNowLitre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelCapacityLitre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelCapacityLitre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GpsLatitudeNow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GpsLatitudeNow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GpsLongitudeNow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GpsLongitudeNow)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
