@model IEnumerable<FuelBase.Models.Transport>

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">Ваш автопарк</h1>
<p align="center">Список всех транспортных средств, зарегистрированных в вашей компании</p>

<p>
    <a asp-action="Create" class="btn btn-success">Добавить транспорт</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RouteNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RouteNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
